@import "theme.scss";

@include themify() {
    background: themed('bg');
    color: themed('fg');
    h1 {
        color: themed('fg-h1');
    }

    .card {
        background-color: themed('bg-card');
    }
}
