body {
    margin-top: 0.5in;
}

ul {
    list-style-position: inside;
}

div.welcomepage {
    header {
        not-position: relative;
        top: 0;

        #logo {
            float: left;
            width: 30%;
            margin-right: 5%;
            margin-bottom: 5%;
            max-width: 800px;
        }

        .btn-toolbar, .btn-group {
            position: absolute;
            right: 10%;
            top: 0;

            .btn {
                padding-top: 5pt;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    section {
        max-width: 500px;
        margin-left: 35%;
        padding-left: 8pt;
    }
}
