
$header-font: 'Montserrat', sans-serif;
$body-font: 'Bitter', serif;

body {
    font-family: $body-font;
}

h1 {
    font-family: $header-font;
    font-weight: bold;
    @include font-size(4rem);
}

h2, h3, h4 {
    font-family: $header-font;
    font-weight: normal;
}
