.env
.env.*
.phpunit.result.cache
build/logs/**
public/bootstrap.bundle.min.js
public/bootstrap.bundle.min.js.map
public/fonts/bootstrap-icons.woff
public/fonts/bootstrap-icons.woff2
public/site.css.map
public/site.css
public/site.css.map
vendor/**
writable/debugbar/debugbar*
writable/logs/log*
writable/session/ci_session*